<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Proyecto</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>

<h1 style="color:white; text-align:center;">Crear un Nuevo Proyecto</h1>

<div class="container-form">
    <form th:action="@{/dashboard/new_project}" th:object="${project}" method="post">
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" id="title" th:field="*{title}" required />
        </div>

        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea id="description" th:field="*{description}" required></textarea>
        </div>

        <button type="submit">Crear Proyecto</button>
    </form>

    <a href="/dashboard">← Volver al Dashboard</a>
</div>


</body>
</html>

