<!-- crear-proyecto.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Proyecto</title>
</head>
<body>
<h1>Crear un Nuevo Proyecto</h1>
<form th:action="@{/dashboard/new_project}" th:object="${project}" method="post">
    <label for="title">Título</label>
    <input type="text" id="title" th:field="*{title}" required />

    <label for="description">Descripción</label>
    <textarea id="description" th:field="*{description}" required></textarea>

    <button type="submit">Crear Proyecto</button>
</form>
<br>
<a href="/dashboard">Volver al Dashboard</a>
</body>
</html>
